body{
    background-color: black;
    font-size: 24px;
    color: white;
    font-family:monospace;


}
.counterbtn, .scoreReset{
    width: 200px;
    height: 100px;
    font-size: 25px;
    background-color: green;
}